extends layout

block content
  header(class=" mo-header")
      a(href="/" class="close-btn flex-center items-center" ,role="button" )
        img(src="/images/close.svg" , class="close-btn" alt="", srcset="")
      h1.title= title 
      //- a(href="/", class="next-navigation unactive  flex-center items-center" ,role="button" )  완료
       
  img(src="/images/banner.png", class="w-full" alt="", srcset="")
  div(class="login-navigation-container")
    a(href='/login')
      div(class=["flex-between","items-center", "content-padding" ,"text-gray", "h-full" ])
        img(src="/images/profile.png", alt="profile", srcset="" class="h-full")
        div(class="text-lg")  로그인 해주세요    
        div(class="flex-center")
          span(class="text-lg")  >
              

    
  