extends layout

block content
    header(class=" mo-header")
        a(href="/" class="close-btn flex-center items-center" ,role="button" )
          img(src="/images/close.svg" , class="close-btn" alt="", srcset="")
        h1.title= title 
        div(href="/", class="close-btn" ,role="layout" )